 body {
    background: rgba(213, 199, 61, 1);
    font-size: 1.1em;
    font-family: "Courier";
    color: gray;
}

#title {
    color: white;
    text-shadow: 3px 3px #038611;
    text-align: center;
}

#img-div {
    border: 1px solid black;
}

#image {
    width: 60%;
    
    border: 2px solid black;
}

#image-caption {
    text-align: center;
}

a {
    text-decoration: none;
    color: #038611;
}

a:hover {
    color: cyan;
}
