body {
    background: rgb(248, 230, 195);
    font-size: 1.3em;
    font-family: "Courier";
}

#title {
    display: block;
    margin: 20px auto;
    font-size: 3em;
    color: #444;
    text-shadow: 8px 10px #777;
    text-align: center;
    
}
#img-div-extra{
 flex-direction:row;
}
#tribute-info {
    margin-left: 40px;
}
#img-div-extra-list{
    padding-top: 20px;
}
#image {
    width: 30vw;   
    border: 10px double #444;
}
#img-div{
    float:left;
}
#img-extra{
 width:50vw;
 border: 10px double #333;
margin-top: 30px;
}
#tribute-text,
div ul li,
#tribute-footer {
    margin-left: 40px;
    margin-top:30px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: rgb(37, 105, 182);
}
footer{
    float:none;
    text-align: left;
    padding-top: 20px;
}
@media (max-width: 600px) {
   
    #image {
        width: 80vw;   
    }
    #img-extra{
        width:80vw;
       
       margin-top: 30px;
       }
    #tribute-text,
    div ul li,
    #tribute-footer {
        margin-left: 20px;
        margin-top:20px;
    }
}