 body {
     background: #bbb;
     font-size: 1.3em;
     font-family: "Courier";
 }
 
 #title {
     margin-left: 40vw;
     margin-right: 40vw;
     padding: 10px;
     border: 1px solid #555;
     border-radius: 15px 15px 35px 35px;
     background: #999;
     color: #777;
     text-shadow: 3px 3px #333;
     text-align: center;
     box-shadow: 5px 5px #333;
 }
 
 #tribute-info {
     margin-left: 40px;
 }
 
 #image {
     position: relative;
     left: 35vw;
     width: 20vw;
     border: 10px double #441d11;
 }
 
 #img-extra {
     margin-left: 20vw;
     width: 50vw;
 }
 
 #image-caption {
     text-align: center;
 }
 
 #img-extra-caption {
     text-align: center;
 }
 
 #tribute-text,
 div ul li,
 #tribute-footer {
     margin-left: 40px;
 }
 
 a {
     text-decoration: none;
     color: #000000;
 }
 
 a:hover {
     color: #ffffff;
 }