 body {
     background: #bbb;
     font-size: 1.1em;
     font-family: "Courier";
 }
 
 #title {
     margin-left: 40vw;
     margin-right: 40vw;
     padding: 10px;
     border: 1px solid #333;
     border-radius: 15px 15px 35px 35px;
     background: #999;
     color: #777;
     text-shadow: 3px 3px #555;
     text-align: center;
 }
 
 #tribute-info {
     margin-left: 40px;
 }
 
 #image {
     position: relative;
     left: 30vw;
     width: 35vw;
     border: 2px solid black;
 }
 
 #image-caption {
     text-align: center;
 }
 
 a {
     text-decoration: none;
     color: #b41313;
 }
 
 a:hover {
     color: rgb(79, 47, 219);
 }